/* Media queries for small screens */
@media only screen and (max-width: 653px) and (min-width: 280px) {

    /* Navbar Styles */
    .nav-link {
        font-size: x-small;
    }

    .navbar-brand {
        height: 44px;
        width: 48px;
        border-radius: 40px;
    }

    /* Card/NewsItem Styles */
    .card {
        height: 242px !important;
    }

    .card-img-top {
        height: 130px !important;
    }

    .card-title {
        font-size: small;
    }

    .card-text {
        font-size: small;
    }

    /* Read more link style */
    .read-more {
        font-size: small !important;
        margin-top: 3px !important;
    }

    /* Badge for showing time and date of news article */
    .badge {
        font-size: x-small !important;
    }

    /* Footer styles */
    .footer {
        font-size: xx-small !important;
    }
    
    /* Main parent div of all.  See App.js */
    .content {
        margin-top: 54px !important;
    }


@media only screen and (max-width: 720px) and (min-width: 540px) {
    .card-img-top {
        height: 190px !important;
    }

    .card {
        height: 289px !important;
        width: 100% !important;
    }
}
