/* Navbar Styles */
.nav-link {
  font-size: medium;
  color: white !important;
}

.nav-link:hover {
  font-weight: bold;
  color: orange !important;
}

.active {
  color: cyan !important;
  font-weight: bold;
}

/* Styles For Brand Image */
.navbar-brand {
  height: 47px;
  width: 51px;
  border-radius: 40px;
}

.navbar-toggler {
  background-color: white !important;
  line-height: 0.7 !important;
  color: black !important;
}