/* Card/NewsItem Styles */
.card-img-top {
  height: 140px !important;
}

.card {
  height: 267px;
}

/* Badge for showing time and date of news article */
.badge {
  font-size: x-small !important;
}

/* Read more link style */
.read-more:hover {
  color: orangered !important;
}

.read-more {
  font-size: medium !important;
}


/* Spinner Loading */
.spinner {
  height: 95px !important;
  width: 95px !important;
}

/* Main parent div of all.  See App.js   */
.content {
  margin-top: 64px !important;
  margin-bottom: 70px !important;
}

/* Footer styles */
.footer {
  background-color: rgba(0, 0, 0, 0.873);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lawngreen !important;
}