.card-img-top{
  height: 200px;
}
.card{
  height: 390px;
}

.headline{
  text-transform:capitalize;
}

@media only screen and (max-width: 653px) and (min-width: 280px) {
  .card{
    height: 350px !important;
  }
  .card-title{
    font-size: large;
  }
  .card-text{
    font-size: small;
  }
}