/* Navbar Styles */
.nav-link {
  font-size: x-large;
}

.active {
  color: red !important;
  font-weight: bolder;
}

.navbar-toggler {
  border-color: black !important;
  border-width: 3px !important;
}

.navbar-brand {
  height: 100px;
  width: 185px;
  border-radius: 40px;
}


/* Card/NewsItem Styles */

.card-img-top {
  height: 130px !important;
}

.card {
  height: 380px;
}

/* Heading Styles */
.headline {
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
  color: deeppink;
}

/* Spinner Loading */
.spinner {
  height: 95px !important;
  width: 95px !important;
}

/* message */
.msg {
  color: green !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

/* Media queries for small screens */
@media only screen and (max-width: 653px) and (min-width: 280px) {

  /* Navbar Styles */
  .nav-link {
    font-size: medium;
  }

  .navbar-brand {
    height: 100px;
    width: 130px;
    border-radius: 40px;
  }

  /* Card/NewsItem Styles */
  .card {
    height: 340px !important;
  }

  .card-title {
    font-size: large;
  }

  .card-text {
    font-size: small;
  }

}


@media only screen and (max-width: 720px) and (min-width: 540px) {
  .card-img-top {
    height: 190px !important;
  }
  
  .card {
    height: 380px !important;
  }
}

.content{
  margin-top: 120px !important;
}